.main {
  background-color: var(--green);
  display: grid;
  grid-template-columns: 1fr 6fr;
  position: relative;
  overflow: hidden;
}

.aside {
  background-color: var(--gray);
  border-radius: 5px;
  max-height: calc(100vh - 88px);
  overflow-y: auto;
  padding: 1.5rem 0;
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--gray);
}

.aside > h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 0 0.5rem;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.775);
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.navigation:not(:last-child) {
  margin-bottom: 50px;
}

.navigation a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--navText);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.775);
  text-decoration: none;
  font-weight: 500;
  padding: 1rem 0.5rem;
  background-color: var(--darkerGray);
}

.navigation :global(a.active) {
  background-color: var(--darkerGreen);
}

.navigation a:hover {
  filter: brightness(1.1);
}

.viewCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0.5rem;
  margin-bottom: 50px;
  background-color: var(--darkerGray);
  cursor: pointer;
  border: 5px outset white;
}

.viewCart:hover {
  filter: brightness(1.1);
}

.viewCart:active {
  filter: brightness(0.9);
  border: 3px solid white;
}

.viewCart > h2 {
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}

.count {
  background-color: white;
  border-radius: 50%;
  padding: 2px 5px;
  width: 2ch;
  display: flex;
  justify-content: center;
  align-items: center;
}
